.header {
  position: relative;
  display: block;
  background: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 99;
  font-weight: 600;

  &__inner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .2fr 1fr 1fr 1fr;
  }

  &__logo {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    letter-spacing: -0.1rem;
  }

  &__link {
    display: block;
    text-transform: capitalize;

    span {
      display: block;
      position: relative;
    }

    span:nth-child(1) {
      padding-left: 1.5rem;
    }

    span:nth-child(2)::after {
      content: "";
      position: absolute;
      right: 1.2rem;
      bottom: .5rem;
      height: 0.2rem;
      width: 1.8rem;
      background-color: $black;
    }
  }
}

.nav {
  grid-column: 3 / -1;

  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto auto 2fr;
    column-gap: 2.5rem;
  }

  &__item {

    &:last-of-type {
      justify-self: flex-end;
    }
  }

  &__link {
    display: block;
    text-transform: capitalize;
  }
}
