.presentation {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
  grid-template-columns: 0.2fr 1fr 1.1fr 1fr;
  row-gap: 2.8rem;
  
  &__socials {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-end;
    display: flex;
    column-gap: 0.9rem;

    .social-icon {
      width: 1.7rem;
      height: 1.7rem;
      background-color: $black;
      color: $white;
      padding: 0.3rem;
      border-radius: 50%;
      font-weight: bold;
    }
  }

  &__links {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    & > :nth-child(1) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    & > :nth-child(2) {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
  }

  &__img-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description {
    grid-row: 4 / -1;
    grid-column: 3 / 4;

  }
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .presentation {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;

    &__socials {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      justify-content: center;
    }

    &__links {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    &__description {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      text-align: center;
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;

    &__socials {
      // grid-row: 3 / 4;
      grid-column: 1 / 2;
      justify-content: center;
      column-gap: 0.5rem;
    }

    &__links {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }

    &__description {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .presentation {
    row-gap: 1rem;

    &__socials {
      .social-icon {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.2rem;
      }
    }

    &__img {
      height: auto;
    }
  }
}
