.star-events {
  grid-column: 1 / -1;

  .title {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1.1fr 1fr;

    border-bottom: solid 0.1rem $black;
    padding-bottom: .4rem;
    text-transform: capitalize;
    
  }

  &__item {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1.1fr 1fr;

    border-bottom: solid 0.1rem $black;

    

    & > .third-heading {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: $small-text-responsive;

      grid-column: 1 / 3;

      &:first-child {
        margin-top: 1.6rem;
      }
    }

    & > p {
      align-self: center;
    }
  }

  .sss {
    grid-column: 4 / 5;

    display: flex;
    align-items: center;
    justify-content: end;

  }
}
