.title-container {
  display: flex;
  align-items: baseline;
  
  &--presentation {
    
    column-gap: 1.4rem;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }

  &--end {
    grid-column: 1 / -1;
    justify-self: center;
    text-decoration: underline;
  }

  .dot {
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;

    @media screen and (max-width : 650px) {
      min-width: 25px;
      min-height: 25px;
    }
  }
  
}

