* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  body {
    font-family: "Urbanist", "Inter", sans-serif;
    background-color: #fff;
    transition: 0.7s background-color cubic-bezier(0.77, 0, 0.175, 1);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .app {
    display: grid;
    grid-template-rows: 1fr auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .main {
    grid-row: 2 / 7;
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: 1fr auto auto auto auto auto;
    grid-template-columns: 0.2fr 1fr 1.1fr 1fr;

    row-gap: 5rem;
  }

  .presentation {
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: .5fr .5fr 2fr 1fr;
    grid-template-columns: .2fr 1fr 1.1fr 1fr;

    row-gap: 1.6rem;

  }

  .sites {
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: .5fr auto auto;
    grid-template-columns: .2fr 1fr 1.1fr 1fr;

    row-gap: 2rem;

  }

  .news {
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: .5fr auto auto;
    grid-template-columns: .2fr 1fr 1.1fr 1fr;

    row-gap: 2rem;

  }

  .events {
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: .5fr auto auto; //TODO: 2eme (auto)
    grid-template-columns: .2fr 1fr 1.1fr 1fr;

    row-gap: 2rem;

  }

  .footer {
    grid-row: 7 / 8;
    grid-column: 1 / -1;
  }

  .second-heading {
    font-size: $section-title;
    text-transform: capitalize;
    line-height: 3rem;
  }

  .third-heading {
    font-size: $big-text;
    text-transform: capitalize;
  }

  .fourth-heading {
    // font-family: $font-arita;
    letter-spacing: -0.1rem;
    font-size: $small-text;
    color: $dark-grey;
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  .special-heading {
    color: $dark-grey;
    font-size: $small-text;
    font-weight: normal;
  }

  .see-more {
    text-decoration: underline;
    font-size: $small-text;
  }
}
