
$black: #1E1A1D;
$silver: #CCCCCC;
$light-grey: #E9EAEB;
$dark-grey: #999D9E;
$white: #FFF;
$primary-color : #49b9d4;

$small-text: .9rem;
$medium-text: 1.2rem;
$big-text: 2rem;
$section-title: 3rem;

$small-text-responsive: calc(#{$small-text} + 0.05vw);
$medium-text-responsive: calc(#{$medium-text} + .09vw);
$big-text-responsive: calc(#{$big-text} + .1vw);
$section-title-responsive: calc(#{$section-title} + .2vw);