// Colors
$black: #1E1A1D;
$silver: #CCCCCC;
$light-grey: #E9EAEB;
$dark-grey: #999D9E;
$white: #FFF;
$primary-color : #49b9d4;

// Font sizes
$small-text: .9rem;
$medium-text: 1.2rem;
$big-text: 2rem;
$section-title: 3rem;

$font-arita: AritaBuri;

// Transitions
$transition-fast: 0.2s ease-in-out;
$transition-medium: 0.4s ease-in-out;
$transition-slow: 0.6s ease-in-out;